---
import type { MarkdownHeading } from "astro";
import TableOfContents from "./TableOfContents";

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<article>
  <section class="prose">
    <slot />
  </section>
</article>

