---
import type { MarkdownHeading } from 'astro';
import TableOfContents from './TableOfContents';

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<nav>
  {headings.length > 1 && <TableOfContents client:media="(min-width: 50em)" headings={headings} />}
</nav>

