<!doctype html>
<html class="default no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page | @bloomreach/spa-sdk - v18.0.0</title>
	<meta name="description" content="Documentation for @bloomreach/spa-sdk - v18.0.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
<header>
	<div class="tsd-page-toolbar">
		<div class="container">
			<div class="table-wrap">
				<div class="table-cell" id="tsd-search" data-index="../assets/js/search.json" data-base="..">
					<div class="field">
						<label for="tsd-search-field" class="tsd-widget search no-caption">Search</label>
						<input id="tsd-search-field" type="text" />
					</div>
					<ul class="results">
						<li class="state loading">Preparing search index...</li>
						<li class="state failure">The search index is not available</li>
					</ul>
					<a href="../index.html" class="title">@bloomreach/spa-sdk - v18.0.0</a>
				</div>
				<div class="table-cell" id="tsd-widgets">
					<div id="tsd-filter">
						<a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a>
						<div class="tsd-filter-group">
							<div class="tsd-select" id="tsd-filter-visibility">
								<span class="tsd-select-label">All</span>
								<ul class="tsd-select-list">
									<li data-value="public">Public</li>
									<li data-value="protected">Public/Protected</li>
									<li data-value="private" class="selected">All</li>
								</ul>
							</div>
							<input type="checkbox" id="tsd-filter-inherited" checked />
							<label class="tsd-widget" for="tsd-filter-inherited">Inherited</label>
							<input type="checkbox" id="tsd-filter-externals" checked />
							<label class="tsd-widget" for="tsd-filter-externals">Externals</label>
							<input type="checkbox" id="tsd-filter-only-exported" />
							<label class="tsd-widget" for="tsd-filter-only-exported">Only exported</label>
						</div>
					</div>
					<a href="#" class="tsd-widget menu no-caption" data-toggle="menu">Menu</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tsd-page-title">
		<div class="container">
			<ul class="tsd-breadcrumb">
				<li>
					<a href="../globals.html">Globals</a>
				</li>
				<li>
					<a href="../modules/index.html">index</a>
				</li>
				<li>
					<a href="index.page.html">Page</a>
				</li>
			</ul>
			<h1>Interface Page</h1>
		</div>
	</div>
</header>
<div class="container container-main">
	<div class="row">
		<div class="col-8 col-content">
			<section class="tsd-panel tsd-comment">
				<div class="tsd-comment tsd-typography">
					<div class="lead">
						<p>The current page to render.</p>
					</div>
				</div>
			</section>
			<section class="tsd-panel tsd-hierarchy">
				<h3>Hierarchy</h3>
				<ul class="tsd-hierarchy">
					<li>
						<span class="target">Page</span>
					</li>
				</ul>
			</section>
			<section class="tsd-panel-group tsd-index-group">
				<h2>Index</h2>
				<section class="tsd-panel tsd-index-panel">
					<div class="tsd-index-content">
						<section class="tsd-index-section ">
							<h3>Methods</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#getbutton" class="tsd-kind-icon">get<wbr>Button</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter"><a href="index.page.html#getchannelparameters" class="tsd-kind-icon">get<wbr>Channel<wbr>Parameters</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter"><a href="index.page.html#getcomponent" class="tsd-kind-icon">get<wbr>Component</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter"><a href="index.page.html#getcontent" class="tsd-kind-icon">get<wbr>Content</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter"><a href="index.page.html#getdocument" class="tsd-kind-icon">get<wbr>Document</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#getlocale" class="tsd-kind-icon">get<wbr>Locale</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#getmeta" class="tsd-kind-icon">get<wbr>Meta</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#gettitle" class="tsd-kind-icon">get<wbr>Title</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#geturl" class="tsd-kind-icon">get<wbr>Url</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#getversion" class="tsd-kind-icon">get<wbr>Version</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#getvisit" class="tsd-kind-icon">get<wbr>Visit</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#getvisitor" class="tsd-kind-icon">get<wbr>Visitor</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#ispreview" class="tsd-kind-icon">is<wbr>Preview</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#preparehtml" class="tsd-kind-icon">prepareHTML</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#rewritelinks" class="tsd-kind-icon">rewrite<wbr>Links</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#sanitize" class="tsd-kind-icon">sanitize</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#sync" class="tsd-kind-icon">sync</a></li>
								<li class="tsd-kind-method tsd-parent-kind-interface"><a href="index.page.html#tojson" class="tsd-kind-icon">toJSON</a></li>
							</ul>
						</section>
					</div>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group ">
				<h2>Methods</h2>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="getbutton" class="tsd-anchor"></a>
					<h3>get<wbr>Button</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Button<span class="tsd-signature-symbol">(</span>type<span class="tsd-signature-symbol">: </span><span class="tsd-signature-symbol">typeof </span><a href="../modules/index.html#type_manage_content_button" class="tsd-signature-type">TYPE_MANAGE_CONTENT_BUTTON</a>, button<span class="tsd-signature-symbol">: </span><a href="index.managecontentbutton.html" class="tsd-signature-type">ManageContentButton</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="index.metacollection.html" class="tsd-signature-type">MetaCollection</a></li>
						<li class="tsd-signature tsd-kind-icon">get<wbr>Button<span class="tsd-signature-symbol">(</span>type<span class="tsd-signature-symbol">: </span><span class="tsd-signature-symbol">typeof </span><a href="../modules/index.html#type_manage_menu_button" class="tsd-signature-type">TYPE_MANAGE_MENU_BUTTON</a>, menu<span class="tsd-signature-symbol">: </span><a href="index.menu_2.html" class="tsd-signature-type">Menu$2</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="index.metacollection.html" class="tsd-signature-type">MetaCollection</a></li>
						<li class="tsd-signature tsd-kind-icon">get<wbr>Button<span class="tsd-signature-symbol">(</span>type<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span>, <span class="tsd-signature-symbol">...</span>params<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">any</span><span class="tsd-signature-symbol">[]</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="index.metacollection.html" class="tsd-signature-type">MetaCollection</a></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Generates a manage content button.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>type: <span class="tsd-signature-symbol">typeof </span><a href="../modules/index.html#type_manage_content_button" class="tsd-signature-type">TYPE_MANAGE_CONTENT_BUTTON</a></h5>
								</li>
								<li>
									<h5>button: <a href="index.managecontentbutton.html" class="tsd-signature-type">ManageContentButton</a></h5>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <a href="index.metacollection.html" class="tsd-signature-type">MetaCollection</a></h4>
							<p>The manage content button meta-data.</p>
						</li>
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Generates a manage menu button.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>type: <span class="tsd-signature-symbol">typeof </span><a href="../modules/index.html#type_manage_menu_button" class="tsd-signature-type">TYPE_MANAGE_MENU_BUTTON</a></h5>
								</li>
								<li>
									<h5>menu: <a href="index.menu_2.html" class="tsd-signature-type">Menu$2</a></h5>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <a href="index.metacollection.html" class="tsd-signature-type">MetaCollection</a></h4>
							<p>The menu button meta-data.</p>
						</li>
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Generates a meta-data collection for the Experience Manager buttons.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>type: <span class="tsd-signature-type">string</span></h5>
								</li>
								<li>
									<h5><span class="tsd-flag ts-flagRest">Rest</span> <span class="tsd-signature-symbol">...</span>params: <span class="tsd-signature-type">any</span><span class="tsd-signature-symbol">[]</span></h5>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <a href="index.metacollection.html" class="tsd-signature-type">MetaCollection</a></h4>
							<p>The button meta-data.</p>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
					<a name="getchannelparameters" class="tsd-anchor"></a>
					<h3>get<wbr>Channel<wbr>Parameters</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Channel<wbr>Parameters&lt;T&gt;<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">T</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Gets current channel parameters.</p>
								</div>
							</div>
							<h4 class="tsd-type-parameters-title">Type parameters</h4>
							<ul class="tsd-type-parameters">
								<li>
									<h4>T<span class="tsd-signature-symbol">: </span><a href="../modules/index.html#channelparameters" class="tsd-signature-type">ChannelParameters</a> = <span class="tsd-signature-type">ChannelParameters</span></h4>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">T</span></h4>
							<p>The channel parameters.</p>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
					<a name="getcomponent" class="tsd-anchor"></a>
					<h3>get<wbr>Component</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Component&lt;T&gt;<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">T</span></li>
						<li class="tsd-signature tsd-kind-icon">get<wbr>Component&lt;T&gt;<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">...</span>componentNames<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">[]</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">T</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Gets a root component in the page.</p>
								</div>
							</div>
							<h4 class="tsd-type-parameters-title">Type parameters</h4>
							<ul class="tsd-type-parameters">
								<li>
									<h4>T<span class="tsd-signature-symbol">: </span><a href="index.component.html" class="tsd-signature-type">Component</a></h4>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">T</span></h4>
							<p>The root component.</p>
						</li>
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Gets a component in the page (e.g. <code>getComponent(&#39;main&#39;, &#39;right&#39;)</code>).</p>
								</div>
							</div>
							<h4 class="tsd-type-parameters-title">Type parameters</h4>
							<ul class="tsd-type-parameters">
								<li>
									<h4>T<span class="tsd-signature-symbol">: </span><a href="index.component.html" class="tsd-signature-type">Component</a></h4>
								</li>
							</ul>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5><span class="tsd-flag ts-flagRest">Rest</span> <span class="tsd-signature-symbol">...</span>componentNames: <span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">[]</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>The names of the component and its parents.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">T</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></h4>
							<p>The component, or <code>undefined</code> if no such component exists.</p>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
					<a name="getcontent" class="tsd-anchor"></a>
					<h3>get<wbr>Content</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Content<span class="tsd-signature-symbol">(</span>reference<span class="tsd-signature-symbol">: </span><a href="index.reference.html" class="tsd-signature-type">Reference</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="index.content.html" class="tsd-signature-type">Content</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></li>
						<li class="tsd-signature tsd-kind-icon">get<wbr>Content&lt;T&gt;<span class="tsd-signature-symbol">(</span>reference<span class="tsd-signature-symbol">: </span><a href="index.reference.html" class="tsd-signature-type">Reference</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">T</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Gets a content item used on the page.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>reference: <a href="index.reference.html" class="tsd-signature-type">Reference</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>The reference to the content. It can be an object containing
										an <a href="https://tools.ietf.org/html/rfc6901">RFC-6901</a> JSON Pointer.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <a href="index.content.html" class="tsd-signature-type">Content</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></h4>
						</li>
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Gets a custom content item used on the page.</p>
								</div>
							</div>
							<h4 class="tsd-type-parameters-title">Type parameters</h4>
							<ul class="tsd-type-parameters">
								<li>
									<h4>T</h4>
								</li>
							</ul>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>reference: <a href="index.reference.html" class="tsd-signature-type">Reference</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>The reference to the content. It can be an object containing
										an <a href="https://tools.ietf.org/html/rfc6901">RFC-6901</a> JSON Pointer.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">T</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
					<a name="getdocument" class="tsd-anchor"></a>
					<h3>get<wbr>Document</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Document&lt;T&gt;<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">T</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Gets the page root document.
									This option is available only along with the Experience Pages feature.</p>
								</div>
							</div>
							<h4 class="tsd-type-parameters-title">Type parameters</h4>
							<ul class="tsd-type-parameters">
								<li>
									<h4>T</h4>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">T</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="getlocale" class="tsd-anchor"></a>
					<h3>get<wbr>Locale</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Locale<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>The page locale, defaults to en_US.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">string</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="getmeta" class="tsd-anchor"></a>
					<h3>get<wbr>Meta</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Meta<span class="tsd-signature-symbol">(</span>meta<span class="tsd-signature-symbol">: </span><a href="index.metacollectionmodel.html" class="tsd-signature-type">MetaCollectionModel</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="index.metacollection.html" class="tsd-signature-type">MetaCollection</a></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Generates a meta-data collection from the provided meta-data model.</p>
								</div>
								<dl class="tsd-comment-tags">
									<dt>deprecated</dt>
									<dd><p>Use <code>getButton</code> method to create buttons.</p>
									</dd>
								</dl>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>meta: <a href="index.metacollectionmodel.html" class="tsd-signature-type">MetaCollectionModel</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>The meta-data collection model as returned by the page-model-api.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <a href="index.metacollection.html" class="tsd-signature-type">MetaCollection</a></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="gettitle" class="tsd-anchor"></a>
					<h3>get<wbr>Title</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Title<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">string</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></h4>
							<p>The title of the page, or <code>undefined</code> if not configured.</p>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="geturl" class="tsd-anchor"></a>
					<h3>get<wbr>Url</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Url<span class="tsd-signature-symbol">(</span>link<span class="tsd-signature-symbol">?: </span><a href="index.link.html" class="tsd-signature-type">Link</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></li>
						<li class="tsd-signature tsd-kind-icon">get<wbr>Url<span class="tsd-signature-symbol">(</span>path<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Generates a URL for a link object.</p>
									<ul>
										<li>If the link object type is internal, then it will prepend <code>spaBaseUrl</code> or <code>baseUrl</code>.
											In case when the link starts with the same path as in <code>cmsBaseUrl</code>, this part will be removed.
											For example, for link <code>/site/_cmsinternal/spa/about</code> with configuration options
											<code>cmsBaseUrl = &quot;http://localhost:8080/site/_cmsinternal/spa&quot;</code> and <code>spaBaseUrl = &quot;http://example.com&quot;</code>
										it will generate <code>http://example.com/about</code>.</li>
										<li>If the link object type is unknown, then it will return <code>undefined</code>.</li>
										<li>If the link parameter is omitted, then the link to the current page will be returned.</li>
										<li>In other cases, the link will be returned as-is.</li>
									</ul>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5><span class="tsd-flag ts-flagOptional">Optional</span> link: <a href="index.link.html" class="tsd-signature-type">Link</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>The link object to generate URL.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">string</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></h4>
						</li>
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Generates an SPA URL for the path.</p>
									<ul>
										<li>If it is a relative path and <code>cmsBaseUrl</code> is present, then it will prepend <code>spaBaseUrl</code>.</li>
										<li>If it is an absolute path and <code>cmsBaseUrl</code> is present,
										then the behavior will be similar to internal link generation.</li>
										<li>If it is a relative path and <code>endpoint</code> is present,
										then it will resolve this link relative to the current page URL.</li>
										<li>If it is an absolute path and <code>endpoint</code> is present,
										then it will resolve this link relative to the <code>baseUrl</code> option.</li>
									</ul>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>path: <span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>The path to generate URL.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">string</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="getversion" class="tsd-anchor"></a>
					<h3>get<wbr>Version</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Version<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">string</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></h4>
							<p>The Page Model version.</p>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="getvisit" class="tsd-anchor"></a>
					<h3>get<wbr>Visit</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Visit<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="index.visit.html" class="tsd-signature-type">Visit</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
							</div>
							<h4 class="tsd-returns-title">Returns <a href="index.visit.html" class="tsd-signature-type">Visit</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></h4>
							<p>The current visit data.</p>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="getvisitor" class="tsd-anchor"></a>
					<h3>get<wbr>Visitor</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Visitor<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="index.visitor.html" class="tsd-signature-type">Visitor</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
							</div>
							<h4 class="tsd-returns-title">Returns <a href="index.visitor.html" class="tsd-signature-type">Visitor</a><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">undefined</span></h4>
							<p>The current visitor data.</p>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="ispreview" class="tsd-anchor"></a>
					<h3>is<wbr>Preview</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">is<wbr>Preview<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">boolean</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">boolean</span></h4>
							<p>Whether the page is in the preview mode.</p>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="preparehtml" class="tsd-anchor"></a>
					<h3>prepareHTML</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">prepareHTML<span class="tsd-signature-symbol">(</span>documentRef<span class="tsd-signature-symbol">?: </span><a href="index.reference.html" class="tsd-signature-type">Reference</a>, dataFieldName<span class="tsd-signature-symbol">?: </span><span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">Promise</span><span class="tsd-signature-symbol">&lt;</span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">&gt;</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Prepare HTML blob by sanitizing it and rewriting links</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5><span class="tsd-flag ts-flagOptional">Optional</span> documentRef: <a href="index.reference.html" class="tsd-signature-type">Reference</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>The reference to the document</p>
									</div>
								</li>
								<li>
									<h5><span class="tsd-flag ts-flagOptional">Optional</span> dataFieldName: <span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>The name of the property on the document data object</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">Promise</span><span class="tsd-signature-symbol">&lt;</span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">&gt;</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="rewritelinks" class="tsd-anchor"></a>
					<h3>rewrite<wbr>Links</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">rewrite<wbr>Links<span class="tsd-signature-symbol">(</span>content<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span>, type<span class="tsd-signature-symbol">?: </span><span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">Promise</span><span class="tsd-signature-symbol">&lt;</span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">&gt;</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Rewrite links to pages and resources in the HTML content.
										This method looks up for <code>a</code> tags with <code>data-type</code> and <code>href</code> attributes and <code>img</code> tags with <code>src</code> attribute.
									Links will be updated according to the configuration used to initialize the page.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>content: <span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>The HTML content to rewrite links.</p>
									</div>
								</li>
								<li>
									<h5><span class="tsd-flag ts-flagOptional">Optional</span> type: <span class="tsd-signature-type">undefined</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>The content type.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">Promise</span><span class="tsd-signature-symbol">&lt;</span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">&gt;</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="sanitize" class="tsd-anchor"></a>
					<h3>sanitize</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">sanitize<span class="tsd-signature-symbol">(</span>content<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">Promise</span><span class="tsd-signature-symbol">&lt;</span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">&gt;</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Sanitize HTML content to allow only safe HTML markups.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>content: <span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>The HTML content to sanitize.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">Promise</span><span class="tsd-signature-symbol">&lt;</span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">&gt;</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="sync" class="tsd-anchor"></a>
					<h3>sync</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">sync<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">Promise</span><span class="tsd-signature-symbol">&lt;</span><span class="tsd-signature-type">void</span><span class="tsd-signature-symbol">&gt;</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Synchronizes the CMS integration state.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">Promise</span><span class="tsd-signature-symbol">&lt;</span><span class="tsd-signature-type">void</span><span class="tsd-signature-symbol">&gt;</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-interface">
					<a name="tojson" class="tsd-anchor"></a>
					<h3>toJSON</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-interface">
						<li class="tsd-signature tsd-kind-icon">toJSON<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">any</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
							</aside>
							<div class="tsd-comment tsd-typography">
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">any</span></h4>
							<p>A plain JavaScript object of the page model.</p>
						</li>
					</ul>
				</section>
			</section>
		</div>
		<div class="col-4 col-menu menu-sticky-wrap menu-highlight">
			<nav class="tsd-navigation primary">
				<ul>
					<li class="globals  ">
						<a href="../globals.html"><em>Globals</em></a>
					</li>
					<li class="label tsd-is-external">
						<span>Internals</span>
					</li>
					<li class="current tsd-kind-module">
						<a href="../modules/index.html">index</a>
					</li>
					<li class="label tsd-is-external">
						<span>Externals</span>
					</li>
					<li class=" tsd-kind-module tsd-is-external">
						<a href="../modules/express.html">express</a>
					</li>
				</ul>
			</nav>
			<nav class="tsd-navigation secondary menu-sticky">
				<ul class="before-current">
				</ul>
				<ul class="current">
					<li class="current tsd-kind-interface tsd-parent-kind-module">
						<a href="index.page.html" class="tsd-kind-icon">Page</a>
						<ul>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#getbutton" class="tsd-kind-icon">get<wbr>Button</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
								<a href="index.page.html#getchannelparameters" class="tsd-kind-icon">get<wbr>Channel<wbr>Parameters</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
								<a href="index.page.html#getcomponent" class="tsd-kind-icon">get<wbr>Component</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
								<a href="index.page.html#getcontent" class="tsd-kind-icon">get<wbr>Content</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface tsd-has-type-parameter">
								<a href="index.page.html#getdocument" class="tsd-kind-icon">get<wbr>Document</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#getlocale" class="tsd-kind-icon">get<wbr>Locale</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#getmeta" class="tsd-kind-icon">get<wbr>Meta</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#gettitle" class="tsd-kind-icon">get<wbr>Title</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#geturl" class="tsd-kind-icon">get<wbr>Url</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#getversion" class="tsd-kind-icon">get<wbr>Version</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#getvisit" class="tsd-kind-icon">get<wbr>Visit</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#getvisitor" class="tsd-kind-icon">get<wbr>Visitor</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#ispreview" class="tsd-kind-icon">is<wbr>Preview</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#preparehtml" class="tsd-kind-icon">prepareHTML</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#rewritelinks" class="tsd-kind-icon">rewrite<wbr>Links</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#sanitize" class="tsd-kind-icon">sanitize</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#sync" class="tsd-kind-icon">sync</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-interface">
								<a href="index.page.html#tojson" class="tsd-kind-icon">toJSON</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="after-current">
				</ul>
			</nav>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<h2>Legend</h2>
		<div class="tsd-legend-group">
			<ul class="tsd-legend">
				<li class="tsd-kind-variable"><span class="tsd-kind-icon">Variable</span></li>
				<li class="tsd-kind-function"><span class="tsd-kind-icon">Function</span></li>
				<li class="tsd-kind-function tsd-has-type-parameter"><span class="tsd-kind-icon">Function with type parameter</span></li>
				<li class="tsd-kind-type-alias"><span class="tsd-kind-icon">Type alias</span></li>
				<li class="tsd-kind-type-alias tsd-has-type-parameter"><span class="tsd-kind-icon">Type alias with type parameter</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-interface"><span class="tsd-kind-icon">Interface</span></li>
				<li class="tsd-kind-interface tsd-has-type-parameter"><span class="tsd-kind-icon">Interface with type parameter</span></li>
				<li class="tsd-kind-method tsd-parent-kind-interface"><span class="tsd-kind-icon">Method</span></li>
			</ul>
		</div>
	</div>
</footer>
<div class="overlay"></div>
<script src="../assets/js/main.js"></script>
</body>
</html>